.header__lang-link{
    margin: 0 45px;
    font-weight: 400;
    font-size: 24px;
    margin-right: 18px;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 425px) {
    .header__lang-link{
        font-size: 18px;
        line-height: 34px;
    }
}
.header__lang-link:last-of-type{
    margin: 0;
}

