.photo-grid{
    max-width: 1184px;
    min-width: 288px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    gap: 14px 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 1110px){
    .photo-grid{
        gap: 12px 16px;
    }
}
@media screen and (max-width: 800px){
    .photo-grid{
        gap: 13px 16px;
    }
}
@media screen and (max-width: 425px){
    .photo-grid{
        gap: 8.9px;
    }
}