.page{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2A2C2F;
    max-width: 1280px;
}   
@font-face {
    font-family: 'Inter';
    font-style:  thin;
    font-weight: 100;
    font-display: swap;
    src: url("../fonts/inter-web/Inter-Thin.woff2") format("woff2"),
    url("../fonts/inter-web/Inter-Thin.woff") format("woff");
}
    @font-face {
    font-family: 'Inter';
    font-style:  extraLight;
    font-weight: 200;
    font-display: swap;
    src: url("../fonts/inter-web/Inter-ExtraLight.woff2") format("woff2"),
    url("../fonts/inter-web/Inter-ExtraLight.woff") format("woff");
}
    @font-face {
    font-family: 'Inter';
    font-style:  light;
    font-weight: 300;
    font-display: swap;
    src: url("../fonts/inter-web/Inter-Light.woff2") format("woff2"),
    url("../fonts/inter-web/Inter-Light.woff") format("woff");
}
  
    @font-face {
    font-family: 'Inter';
    font-style:  regular;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/inter-web/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter-web/Inter-Regular.woff") format("woff");
}
      
    @font-face {
    font-family: 'Inter';
    font-style:  medium;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/inter-web/Inter-Medium.woff2") format("woff2"),
    url("../fonts/inter-web/Inter-Medium.woff") format("woff");
}

    @font-face {
    font-family: 'Inter';
    font-style:  semiBold;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/inter-web/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/inter-web/Inter-SemiBold.woff") format("woff");
}
      
    @font-face {
    font-family: 'Inter';
    font-style:  bold;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/inter-web/Inter-Bold.woff2") format("woff2"),
    url("../fonts/inter-web/Inter-Bold.woff") format("woff");
}
      
    @font-face {
    font-family: 'Inter';
    font-style:  extraBold;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/inter-web/Inter-ExtraBold.woff2") format("woff2"),
    url("../fonts/inter-web/Inter-ExtraBold.woff") format("woff");
}
      
    @font-face {
    font-family: 'Inter';
    font-style:  black;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/inter-web/Inter-Black.woff2") format("woff2"),
    url("../fonts/inter-web/Inter-Black.woff") format("woff");
}

.header{
    max-width: 1184px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_position{
    margin: 28px 48px 0;
}

.logo{
    width: 176px;
    height: 52px;
}

.header__lang{
    margin: 0;
    align-self: end;
}

.header__lang-link{
    margin: 0 45px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-right: 18px;
    color: white;
    text-decoration: none;
}
.header__lang-link:last-of-type{
    margin: 0;
}
.header__lang-link:hover, .header__lang-link:visited{
    text-decoration: underline;
}

.lead{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 56px;

/*    border: 1px solid yellow;*/
}

.lead__title{
    width: 720px;
    height: 200px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    line-height: 100px;
    color: white;
    font-size: 96px;
    text-align: center;
    margin: 0;
}
.lead__subtitle{
    width: 640px;
    height: 72px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 36px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 32px 0 64px 0;
}
@media (max-width: 1024px){
    .lead__subtitle{
        margin: 32px 0 56px 0;;
    }
}

.lead__images{

    max-width: 984px;
    max-height: 637px;
    position: relative;
    box-sizing: border-box;
}
.lead__image{
    width: 100%;
    object-fit:fill;
}
.lead__image-map{
    width: 95.4%;
    position: absolute;
    top: 14.668%;
    left: 2.365%;
}
.lead__caption{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 14px;
    color: white;
    font-size: 10px;
    align-self: flex-start;
    margin: 8px 0 0 0;
}

.intro{
    max-width: 690px;
    color: white;
    box-sizing: border-box;
    margin: 0 34.53% 0 11.56%;
}
.intro__title{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    line-height: 58px;
    font-size: 54px;
    text-align: left;
    margin: 0; 
}
.intro__text{
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 163%;
    font-size: 16px;
    text-align: left;
    margin: 0;
}
.intro__list{
    list-style-type: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 18px;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.intro__row{
    display: flex;
    line-height: 18px;
    margin: 0;
}
.intro__list-number{
    font-weight: 400;
    margin: 0;
}