.place{
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, minmax(320px,1fr));
    grid-auto-flow: dense;
    gap: 48px 20px;
    align-items: start;
    margin: 0;
    padding-top: 76px;
}
@media screen and (max-width: 1110px){
    .place{
        max-width: 915px;
        gap: 48px 35px;
        padding-top: 76.5px;
    }
}
@media screen and (max-width: 1023px){
    .place{
        margin: 0 24px;
        justify-content: center;
    }
}
@media screen and (max-width: 800px){
    .place{
        gap: 47px 14px;
    }
}
@media screen and (max-width: 720px) {
    .place{
        grid-template-columns: repeat(1, minmax(320px,1fr));
    }
}
@media screen and (max-width: 425px){
    .place{
        padding-top: 48px;
        gap: 30px;
    }
}